{#
/**
 * @file
 * Theme for ARISE banner block.
 *
 * Available variables:
 * - content: may be empty
 * - banner: banner image
 * - quote: remote server status delivering json feed
 * - credit: total number of items provided by json feed
 * - more_link: more link URL
 * - more_text: more link text
 * - description_text: number of items configured to be displayed
 *
 * @ingroup themeable
 */
#}
<div class="banner-container container-fluid nomargin nopadding">
  <div class="banner-image row nomargin">
    <img src="{{ banner }}" alt="Home page banner" typeof="Image" class="image-style-banner-quote-large img-responsive" />
  </div>
  <div class="banner-quote row midsidemargin nopadding">
    <div class="quote-text-top-container row nomargin">
      <div class="quote-text-top col-md-7 col-sm-12 col-xs-12 smallsidepadding smallpadding">{{ quote }}</div>
    </div>
    <div class="quote-text-middle-container row nomargin">
      <div class="quote-credit col-md-7 col-sm-12 col-xs-12 nomargin extrasmallbottommargin smallsidepadding extrasmallpadding upper text-right">{{ credit }}</div>
    </div>
    <div class="quote-text-bottom-container row nomargin">
      <div class="quote-link row nomargin smallsidepadding extrasmallpadding upper"><a href="{{ more_link }}">{{ more_text }}</a></div>
    </div>
  </div>
  <div class="quote-text-main-container row nomargin midsidepadding">
    <div class="quote-text-main col-md-12 col-sm-12 col-xs-12 nopadding midpadding">{{ description_text }}</div>
  </div>
</div>
