/* Partners */
.feed-partners .row { background: transparent url('../../../themes/sreyas/images/arise-logo-colors.png') no-repeat scroll 95% center; }
.feed-partners p { margin: 0; text-align: right; }

/* Members */
.feed-members { -webkit-backface-visibility: hidden; }
.feed-members .mix { display: none; }
.feed-members .member.odd { background-color: #e3effb; }
.feed-members .member.even { background-color: #f9f9f9; }
.member-title, .member-country { font-size: 16px; }
.member-title a { color: #0078bf; letter-spacing: 0.75px; line-height: normal; }

/* sort/filter controls */
.container-fluid.members-sort-filter-controls { background-color: #e3effb; }
.members-sort-filter-controls button, .members-sort-filter-controls button:focus { background-color: #666; border: none; color: #fff; border-radius: none; cursor: default; margin: 0; font-size: 1.6rem; outline: none; padding: 6px; }
.members-sort-filter-controls button:hover { background-color: #666; }
.btn-group > .btn + .dropdown-toggle { padding: 6px !important; }
.members-sort-filter-controls .dropdown-toggle { cursor: pointer; }
.members-sort-filter-controls .dropdown-toggle:hover { background-color: #14bcb8; }
.members-sort-filter-controls .dropdown-menu { border: medium none; border-radius: 0; box-shadow: none; margin: 0; padding: 0; }
.members-sort-filter-controls .dropdown-menu li { margin: 0; } 
.members-sort-filter-controls .sort.active, .members-sort-filter-controls .sort:hover { background-color: #14bcb8; }
.members-sort-filter-controls .sort, .members-sort-filter-controls .filter { cursor: pointer; display: block; padding: 5px; background-color: #666; border: none; color: #fff; border-radius: none; }
.members-sort-filter-controls .dropdown-menu .filter { border-top: 1px solid #585858; }
.members-sort-filter-controls .dropdown-menu .filter.first { border-top: none; }
.members-sort-filter-controls .dropdown-menu .active, .members-sort-filter-controls .dropdown-menu li:hover { background-color: #14bcb8; }
.members-sort-filter-controls .dropdown-menu .divider { background-color: #fff; margin: 0; padding: 0; }
.members-sort-filter-controls .dropdown-menu .divider.grey { background-color: #585858; }

/* Events */
.event-location-country, .event-location-city { display: inline; }
.event-location-city { padding: 0 0 0 5px; }
.event-date-elem { padding: 0 2px 0 0; }
.event-date-elem.last { padding: 0; }
.event-summary { font-family: Georgia,'Helvetica Neue',Helvetica,Arial,sans-serif; }
.event-location { color:#0078bf; line-height: normal; }

/* News */
.feed-news .news-sources { color:#868686; line-height: normal; }
.news-title { line-height: normal; }
.news-date { font-size: 1.2rem; text-align: right; }

/* Library */
.publication.odd { background-color: #f9f9f9; }
.publication.even { background-color: #e3effb; }
.publication-url { color: #0078bf; }
.publication-label { font-weight: bold; padding-right: 8px; }
.publication-source { color: #868686; }
.publication-abstract + [data-readmore-toggle] { background-color: #14bcb8; border-radius: 5px; color: #fff; display: table; font-weight: bold; margin: 16px 0 0; padding: 5px; }

/* Common */
.container-fluid.link-container { margin: 32px 0 0; padding: 0; }
.container-fluid.link-container a { background-color: #14bcb8; border-radius: 5px; color: #fff; display: table; font-size: 16px; font-weight: bold; padding: 12px; text-transform: uppercase; }
.event-date, .news-published-date { color: #003765; font-weight: bold; font-size: 1.8rem; border-bottom: 1px solid #bbb; }
.container-fluid.message-container { background-color: #fce9eb; }
.message-container .row { color: #df2f47; }
.tab-footer:before { content: '\f0a9'; font-family: FontAwesome; line-height: 1; margin-right: 10px; display: inline-block; color: #fff; background-color: #14bcb8; width: 44px; height: 44px; font-size: 24px; text-align: center; padding-top: 4px; -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px; position: absolute; top: -22px; left: 0;border: 6px solid #fff; }
.tab-footer { border-top: 1px solid #14bcb8; clear: both; height: 80px; position: relative; text-align: right; top: 50px; }
.tab-footer a { background-color: #fff; color: #14bcb8; float: right; font-weight: bold; padding: 0 0 0 16px; position: relative; text-transform: uppercase; top: -12px; }
