@media only screen and (min-width:801px) and (max-width:991px) {
.menu--main .menu li a { padding: 14px 8px; }
.logo.col-sm-12, .toplinks.col-sm-12 { width: 50%; }
.quote-text-top { font-size: 2.4rem; }
}
.expanded:hover > .dropdown-menu { display: block; }
