@import url(mobile.css) (max-width: 480px);
@import url(tablet.css) (max-width: 800px);
@import url(laptop.css) (min-width: 801px);
@import url(desktop.css) (min-width: 1280px);

/*
@font-face { font-family: 'DINRegular'; src: url('../fonts/din/DINRegular.ttf') format('truetype'); font-weight: normal; font-style: normal; font-size: 12px; }
@font-face { font-family: 'DINLight'; src: url('../fonts/din/DINLight.ttf') format('truetype'); font-weight: normal; font-style: normal; font-size: 12px; }
@font-face { font-family: 'DINBold'; src: url('../fonts/din/DINBold.ttf') format('truetype'); font-weight: normal; font-style: normal; font-size: 12px; }
*/
