@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic');

/*
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
font-family: 'Open Sans', sans-serif;
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
font-family: 'Open Sans Condensed', sans-serif;
*/

/* COLORS
#f27f4f arise-orange -###- #df2f47 arise-red -###- #14bcb8 arise-aqua -###- #a85aa3 arise-violet -###- #003765 darker blue -###- #005395 basic blue -###- #0078bf lighter blue -###- #464646 paragaraph dark grey -###- #868686 small lighter grey
*/

.clearfix:after { clear: both; content: '.'; display: block; height: 0; line-height: 0; visibility: hidden; }

/*--------------------- common style classes ---------------------*/
.bold { font-weight: bold; }
.overflow-hidden { overflow: hidden; }
.underline { text-decoration: underline; }
.upper { text-transform: uppercase; }
.text-right { text-align: right; }
/*--------------------- END common style classes ---------------------*/

/*--------------------- common padding and margin classes ---------------------*/
.nopadding { padding: 0; }
.nosidepadding { padding-right: 0; padding-left: 0; }

.nomargin { margin: 0; }
.nosidemargin { margin-right: 0; margin-left: 0; }

.extrasmallpadding { padding-bottom: 8px; padding-top: 8px; }
.extrasmallsidepadding { padding-left: 8px; padding-right: 8px; }
.extrasmalltoppadding { padding-top: 8px; }
.extrasmallbottompadding { padding-bottom: 8px; }
.extrasmallleftpadding { padding-left: 8px; }
.extrasmallrightpadding { padding-right: 8px; }

.smallpadding { padding-bottom: 16px; padding-top: 16px; }
.smallsidepadding { padding-left: 16px; padding-right: 16px; }
.smalltoppadding { padding-top: 16px; }
.smallbottompadding { padding-bottom: 16px; }
.smallleftpadding { padding-left: 16px; }
.smallrightpadding { padding-right: 16px; }

.midpadding { padding-bottom: 32px; padding-top: 32px; }
.midsidepadding { padding-left: 32px; padding-right: 32px; }
.midtoppadding { padding-top: 32px; }
.midbottompadding { padding-bottom: 32px; }
.midleftpadding { padding-left: 32px; }
.midrightpadding { padding-right: 32px; }

.bigpadding { padding-bottom: 64px; padding-top: 64px; }
.bigsidepadding { padding-left: 64px; padding-right: 64px; }
.bigtoppadding { padding-top: 64px; }
.bigbottompadding { padding-bottom: 64px; }
.bigleftpadding { padding-left: 64px; }
.bigrightpadding { padding-right: 64px; }

.largepadding { padding-bottom: 96px; padding-top: 96px; }
.largesidepadding { padding-left: 96px; padding-right: 96px; }
.largebottompadding { padding-bottom: 96px; }
.largetoppadding { padding-top: 96px; }
.largeleftpadding { padding-left: 96px; }
.largerightpadding { padding-right: 96px; }

.extralargepadding { padding-bottom: 128px; padding-top: 128px; }
.extralargesidepadding { padding-left: 128px; padding-right: 128px; }
.extralargebottompadding { padding-bottom: 128px; }
.extralargetoppadding { padding-top: 128px; }
.extralargeleftpadding { padding-left: 128px; }
.extralargerightpadding { padding-right: 128px; }

.extrasmallmargin { margin-bottom: 8px; margin-top: 8px; }
.extrasmallsidemargin { margin-left: 8px; margin-right: 8px; }
.extrasmalltopmargin { margin-top: 8px; }
.extrasmallbottommargin { margin-bottom: 8px; }
.extrasmallleftmargin { margin-left: 8px; }
.extrasmallrightmargin { margin-right: 8px; }

.smallmargin { margin-bottom: 16px; margin-top: 16px; }
.smallsidemargin { margin-left: 16px; margin-right: 16px; }
.smalltopmargin { margin-top: 16px; }
.smallbottommargin { margin-bottom: 16px; }
.smallleftmargin { margin-left: 16px; }
.smallrightmargin { margin-right: 16px; }

.midmargin { margin-bottom: 32px; margin-top: 32px; }
.midsidemargin { margin-left: 32px; margin-right: 32px; }
.midtopmargin { margin-top: 32px; }
.midbottommargin { margin-bottom: 32px; }
.midleftmargin { margin-left: 32px; }
.midrightmargin { margin-right: 32px; }

.bigmargin { margin-bottom: 64px; margin-top: 64px; }
.bigsidemargin { margin-left: 64px; margin-right: 64px; }
.bigtopmargin { margin-top: 64px; }
.bigbottommargin { margin-bottom: 64px; }
.bigleftmargin { margin-left: 64px; }
.bigrightmargin { margin-right: 64px; }

.largemargin { margin-bottom: 96px; margin-top: 96px; }
.largesidemargin { margin-left: 96px; margin-right: 96px; }
.largebottommargin { margin-bottom: 96px; }
.largetopmargin { margin-top: 96px; }
.largeleftmargin { margin-left: 96px; }
.largerightmargin { margin-right: 96px; }

.extralargemargin { margin-bottom: 128px; margin-top: 128px; }
.extralargesidemargin { margin-left: 128px; margin-right: 128px; }
.extralargebottommargin { margin-bottom: 128px; }
.extralargetopmargin { margin-top: 128px; }
.extralargeleftmargin { margin-left: 128px; }
.extralargerightmargin { margin-right: 128px; }
/*--------------------- END common padding and margin classes ---------------------*/

/*--------------------- Common ----------------------*/
.page-title { margin: 0 0 38px; }
.field--name-field-long-format-text ol, .field--name-field-long-format-text ul { font-family: Georgia,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1.6rem; line-height: 1.6; margin: 0 0 16px; }
.field--name-field-long-format-text h2 { margin: 52px 0 26px; }
.field--name-field-arise-multi-links { margin: 16px 0 0; }
.field--name-field-arise-multi-links .field__item { display: table; font-weight: bold; margin: 8px 0 0; padding: 12px; background-color: #14bcb8; border-radius: 5px; text-transform: uppercase; }
.field--name-field-arise-multi-links a { color: #fff; }
/*--------------------- END Common ----------------------*/

/*--------------------- full bg ----------------------*/
.full-bg { padding: 0; position:relative; }
.full-bg:before, .full-bg:after { content: ''; height: 100%; position: absolute; top: 0; width: 100%; z-index: -1; }
.full-bg:after { right: -100%; }
.full-bg:before { left: -100%; }
/*--------------------- END full bg ----------------------*/

/*--------------------- bg blue ----------------------*/
.bg-blue:after, .bg-blue:before, .bg-blue { background: #003765; }
/*--------------------- END bg blue ----------------------*/

/*--------------------- top corporate menu ---------------------*/
.hfaRibbon { background: #e74934 url('../images/ribbon.png') no-repeat scroll center top / 100% 4px; height: 4px; }
.corporatetop-content { background-color: #000; }
.corporatetop-links { line-height: 43px; list-style: none; margin: 0; padding: 0; }
.corporatetop-links li { float: left; margin: 0 40px 0 0; }
.corporatetop-links a { color: #ccc; }
.corporatetop-links a:hover { color: #fff; }
.icon-menu { cursor: pointer; float: right; position: relative; top: 11px; }
.corporatetop-menu-container { position: relative; }
.corporatetop-dropdown-menu { border: 1px solid #fff; background-color: #003765; display: none; position: absolute; right: 0; top: 43px; width: 320px; z-index: 9999; }
.corporatetop-dropdown-menu .corporatetop-menu-closer { color: #fff; cursor: pointer; font-weight: bold; padding: 0 12px; position: absolute; right: 0; }
.corporatetop-menu { margin: 0; padding: 24px 0; list-style: none; }
.corporatetop-menu li { margin: 0; padding: 6px 24px; }
.corporatetop-menu li:hover { background-color: #14bcb8; }
.corporatetop-menu li a { color: #fff; }
/*--------------------- END top corporate menu ---------------------*/

/* Top logo and links */
.logo p { margin: 0; }
.toplinks { text-align: right; }
.toplinks ul, .toplinks ul li { margin: 0; padding: 0; }
.toplinks ul li { display: inline; }
.toplinks ul li::after { color: #14bcb8; content: '\2022'; padding: 0 2px 0 6px; }
.toplinks ul li.last:after { content: ' '; }
.toplinks ul li a { color: #14bcb8; font-weight: bold; letter-spacing: 0.2px; margin: 0; padding: 0; }
/*--------------------- END Top logo and links ---------------------*/

/*--------------------- Nav menu ---------------------*/
.navbar-default { background-color: #013765; border: none; border-radius: 0; }
.navbar-default .navbar-toggle { border-radius: 0; }
.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-default .navbar-toggle .icon-bar.first { margin: 0 auto; }
.menu--main-nav .menu { margin: 0; }
.navbar-nav li { margin: 0; }
.navbar-default .navbar-nav li a { color: #fff; font-size: 1.8rem; text-transform: uppercase; font-weight: bold; padding: 14px 40px; }
.navbar-nav > li > a { line-height: inherit; }
.navbar-default .navbar-nav > li > a:hover { background-color: #fff; color: #013765; }
.navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover { background-color: #fff; color: #013765; }
.navbar-default .navbar-nav > li > a.is-active { background-color: #fff; color: #013765; }
.navbar-nav > li > .dropdown-menu { border: none; border-radius: 0; }
.dropdown-menu { background-color: #013765; box-shadow: none; }
.dropdown-menu > li > a:hover { background-color: #fff; color: #013765; }
.navbar-nav .menu-item { padding: 0; }
/*--------------------- END Nav menu ---------------------*/

/*--------------------- banner quote ---------------------*/
.banner-container { color: #fff; font-weight: bold; position: relative; }
.banner-image { border-bottom: 4px solid #013765; }
.banner-image img { height: auto; width: 100%; }
.banner-quote { left: 0; position: absolute; top: 25px; }
.quote-text-top { background-color: #005395; font-size: 2.8rem; letter-spacing: 1px; line-height: 1; }
.quote-text-middle-container { }
.quote-credit { background-color: #005395; letter-spacing: 1px; }
.quote-link { background-color: #14bcb8; display: inline-block; }
.quote-link a { color: #fff; letter-spacing: 1px; }
.quote-text-bottom-container { display: inline-block; }
.quote-text-main-container { background-color: #003765; }
.quote-text-main { border-bottom: 1px solid #fff; font-weight: normal; font-size: 2.0rem; letter-spacing: 0.02rem; line-height: 30px; text-align: justify; }
/*--------------------- END banner quote ---------------------*/

/*--------------------- breadcrumb ---------------------*/
.breadcrumb { background-color: transparent; text-transform: uppercase; font-weight: bold; padding: 0; margin: 16px 0; }
.breadcrumb li:first-child::before {  content: none; }
.breadcrumb li::before {  content: ' \2022'; }
.breadcrumb li a { color: #464646; }
.breadcrumb li:last-child a { color: #005395; }
/*--------------------- END breadcrumb ---------------------*/

h2.sub-title { color: #005395; font-size: 36px; font-weight: bold; }

/*--------------------- Left and Right sidebar blocks ---------------------*/
.left-sidebar .block, .right-sidebar .block { margin: 32px 0 0; }
.left-sidebar .block:first-child, .right-sidebar .block:first-child { margin: 0; }
/*--------------------- END Left and Right sidebar blocks ---------------------*/

/*--------------------- Homepage tabs ---------------------*/
.bg-blue.tab-height { min-height: 220px; }
.tab-pane:after { content: '.'; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.full-bg.bg-blue.hm-blue { height: 240px; }
.simple-tab { position:relative; margin-top:-180px; }
.nav-tabs.menu { border: none; margin: 0; }
.nav-tabs > li { margin: 0; padding: 0; }
.nav-tabs > li > a { border: none; border-radius: 0; color: #0078bf; font-size: 22px; font-weight: bold; margin: 0; padding: 14px 40px; text-transform: uppercase; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover { background: #fff; border: none; color: #003765; }

.blue-clear:before, .blue-clear:after { content: ''; position: absolute; top: 170px; width:18px; height: 180px; background: #fff; z-index: -1; box-shadow: 1px 1px 40px #333; }
.blue-clear:before { left: 5px; -ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg); -moz-transform: rotate(-3deg); }
.blue-clear:after { right: 5px; -ms-transform: rotate(3deg); -webkit-transform: rotate(3deg); transform: rotate(3deg); -moz-transform: rotate(3deg); }

.grey-light-shadow:before, .grey-light-shadow:after { background-color: #fff; content: ''; height: 180px; position: absolute; top: 180px; width: 18px; z-index:-9999; box-shadow:1px 1px 40px #333; }
.grey-light-shadow:before { left: 5px; -ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg); -moz-transform: rotate(-3deg); }
.grey-light-shadow:after { right: 5px; -ms-transform: rotate(3deg); -webkit-transform: rotate(3deg); transform: rotate(3deg); -moz-transform: rotate(3deg); }

.region-tabs .block .content { min-height: 320px; }
.simple-tab .tab-content { background: #fff; }
/*--------------------- END Homepage tabs ---------------------*/

/*--------------------- Contact info blocks ---------------------*/
.block-views-blockregion-pages-region-office-info h2, .block-views-blockaction-pages-work-stream-contact-info h2, .block-views-blockarise-pages-arise-contact-info h2 { border-bottom: 4px solid #005395; margin-bottom: 0; padding-bottom: 8px; position: relative; text-align: right; text-transform: uppercase; }
.block-views-blockregion-pages-region-office-info h2:before, .block-views-blockaction-pages-work-stream-contact-info h2:before, .block-views-blockarise-pages-arise-contact-info h2:before { content: '\f05a'; display: inline-block; font-family: FontAwesome; font-weight: normal; left: 0; margin: 0; position: absolute; }
.contact-info .views-field-field-contact-info-collection .item-list * { color: #005395; font-size: 1.4rem; font-weight: bold; }
.contact-info .views-field-field-contact-info-collection .item-list ul { list-style: none; margin: 0; }
.contact-info .views-field-field-contact-info-collection .item-list ul li { background-color: #e3effb; border-bottom: 1px solid #003765; margin: 10px 0; }
.contact-info .views-field-field-contact-info-collection .item-list ul li:last-child { margin: 10px 0 0 0; }
.contact-info .views-field-field-contact-info-collection .field__item, .contact-info .views-field-field-contact-info-collection .field--name-field-contact-info-phone.field__items { border-top: 1px solid #003765; margin: 0 10px 10px; padding: 10px 0 0; }
.contact-info .views-field-field-contact-info-collection .field--name-field-contact-info-photo { background-color: #fff; border: none; margin: 0; padding: 0 10px 10px; }
.contact-info .views-field-field-contact-info-collection .field--name-field-contact-info-name { margin: 0; padding: 10px; }
.contact-info .views-field-field-contact-info-collection .field--name-field-contact-info-position { text-transform: uppercase; }
.contact-info .views-field-field-contact-info-collection .field--name-field-contact-info-email { text-decoration: underline; }
.contact-info .views-field-field-contact-info-collection .field--name-field-contact-info-phone.field__items .field__item { border: none; margin: 0; padding: 0; }
/*--------------------- END Contact info blocks ---------------------*/

/*--------------------- regions views page ---------------------*/
.path-engage-locally .main-container, .path-work-streams .main-container { background-color: #003765; margin: 2px 0 0; }
.engage-regions-container { border-bottom: 1px solid #555; }
.region-links  { border-right: 1px solid #555; }
.region-links .views-row { text-align: right; }
.region-links .views-row a { color: #fff; font-size: 18px; text-transform: uppercase; }
.world-map img { width: 100%; }
.engage-regions-container h1, .engage-text-container h3 { color: #fff; }
.engage-regions-container h1 { text-align: right; }
.engage-locally p { color: #fff; margin: 0; text-align: justify; }
/*--------------------- END regions views page ---------------------*/

/*--------------------- Regions list with links ---------------------*/
.block-views-blockregion-pages-regions-list h2, .block-views-blockaction-pages-actions-list h2 { border-bottom: 4px solid #005395;  margin-bottom: 0; padding-bottom: 8px; text-align: right;text-transform: uppercase; }
.related-links { background-color: #e3effb; border-bottom: 1px solid #003765; border-top: 1px solid #003765; margin: 10px 0 0; padding: 0 10px; }
.related-links .views-row { padding: 10px 0; }
.related-links .field-content a { font-size: 14px; color: #005395; }
/*--------------------- END Regions list with links ---------------------*/

/*--------------------- stream works views page ---------------------*/
.bg-arise_red { background-color: #df2f47; }
.bg-arise_orange { background-color: #f27f4f; }
.bg-arise_aqua { background-color: #14bcb8; }
.bg-arise_violet { background-color: #a85aa3; }
.bg-darker-blue { background-color: #003765;}
.action-box-container { border: 16px solid #003765; height: 180px; }
.action-box { border-bottom: 8px solid #fff; }
.action-box  a { font-weight: bold; color: #fff; font-size: 24px; line-height: 110%; }
.header-box-container::before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.header-box { color: #fff; display: inline-block; font-size: 40px; vertical-align: middle; }
.header-box span { display: block; }
/*--------------------- END stream works views page ---------------------*/

/*--------------------- Board members pages ---------------------*/
.member-name { color: #0078bf; font-weight: bold; letter-spacing: 0.1rem; }
.field--name-field-organization-position > .field__item:first-child { margin: 0 0 16px 0; }
.field--name-field-organization-position .field--name-field-organization-name { color: #003765; font-weight: bold; }
.field--name-field-organization-position .field--name-field-board-member-position { color: #0078bf; }
.board_members_list h2 { border-bottom: 4px solid #005395; margin-bottom: 0; padding-bottom: 8px; text-align: right; text-transform: uppercase; }
.board-member-container .field--name-field-long-format-text + [data-readmore-toggle] { background-color: #14bcb8; border-radius: 5px; color: #fff; display: table; font-weight: bold; margin: 16px 0 0; padding: 5px; }
.view-board-members .views-row.even { background-color: #e3effb; }
.view-board-members .views-row.odd { background-color: #f9f9f9; }
.view-board-members .views-field-field-long-format-text a.views-more-link { background-color: #14bcb8; border: none; border-radius: 5px; color: #fff; float: left; font-weight: bold; margin: 16px 0 0; padding: 5px 15px; }
.view-board-members .views-field-field-organization-position .item-list ul { list-style: none; margin: 0; }
.view-board-members .views-field-field-organization-position .item-list ul li { margin: 0; }
.view-board-members .views-field-field-organization-position .item-list ul li:first-child { margin: 0 0 16px; }
.view-board-members .views-field-field-organization-position .field--name-field-organization-name { color: #003765; font-weight: bold; }
.view-board-members .views-field-field-organization-position .field--name-field-board-member-position { color: #0078bf; }
.view-board-members .views-field-field-long-format-text + [data-readmore-toggle] { background-color: #14bcb8; border-radius: 5px; color: #fff; display: table; font-weight: bold; margin: 16px 0 0; padding: 5px; }
.pager li > a, .pager li > span { background-color: #14bcb8; border: none; border-radius: 5px; color: #fff; font-weight: bold; padding: 5px 15px; }
.pager li > a:focus, .pager li > a:hover { background-color: #14bcb8; }
/*--------------------- END Board members pages ---------------------*/

/*--------------------- Twitter block ---------------------*/
.twitter-timeline { border: 1px solid #bbb !important; }
/*--------------------- END Twitter block ---------------------*/

/*--------------------- footer ---------------------*/
.footer-container { background-color: #14bcb8; color: #fff; }
.footer-logo-container span { padding: 0 5px 0 0; }
/*--------------------- END footer ---------------------*/
