/*--------------------- Typography ---------------------*/
body { color: #464646; font-family: 'DIN Next W01','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 16px; line-height: 1.5; margin: 0 auto; max-width: 1920px; -webkit-font-smoothing: antialiased; }
h1, h2, h3, h4, h5, h6 { color: #005395; font-weight: bold; line-height: 1.6; }
h1 { font-size: 3.8rem; line-height: 1; margin: 0 0 38px; }
h2 { font-size: 2.6rem; line-height: 1; margin: 0 0 26px; }
h3 { font-size: 2.4rem; line-height: 1; margin: 0 0 24px; }
h4 { font-size: 1.8rem; line-height: 1; margin: 0 0 18px; }
h5 { font-size: 1.4rem; line-height: 1; margin: 0 0 14px; }
h6 { font-size: 1.2rem; line-height: 1; margin: 0 0 12px; }
p { font-family: Georgia,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1.6rem; line-height: 1.6; margin: 0 0 16px; }
ol, ul { margin: 0 0 16px; }
li { margin: 0 0 4px; }

/*--------------------- links ---------------------*/
:hover, :focus, :active, a, a:hover, a:focus, a:active { outline: 0; text-decoration:none; }
a { color: #464646; transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; }
a:hover { color: #464646; }

/*--------------------- blockquote ---------------------*/
blockquote { font-size: 1.6rem; margin: 0 0 16px; border-left: 5px solid #bbb; }
blockquote p { font-style: italic; }
blockquote footer, blockquote small, blockquote .small { margin: 0 0 8px; }
blockquote footer:before, blockquote small:before, blockquote .small:before { content: '\2014 \00A0'; }

/*--------------------- .button ---------------------*/
.button { border: 2px solid #00a9d3; background-color: #FFF; font-weight: 400; color: #000; font-size: 16px; text-transform: uppercase; margin: 20px 0; padding: 8px 18px; display: inline-block; letter-spacing: 1px; transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; cursor: pointer; }
.button:hover { border: 2px solid #00a9d3; background-color: #00a9d3; color: #fff; }

/*--------------------- List style ---------------------*/
ul.listyle-3, ul.listyle-2, ul.listyle-1 { padding: 0; margin: 0 0 20px; }
ul.listyle-3 li, ul.listyle-2 li, ul.listyle-1 li { margin: 0; list-style: none; border-bottom: 1px solid #ccc; padding: 10px 0; }
.listyle-1 li:last-child { border-bottom: none; }
ul.listyle-2 li { background: #eee; padding: 10px; border-bottom: none; margin-bottom: 1px; }
ul.listyle-2 li:before{ content: '\f178'; font-family: FontAwesome; margin-right: 10px; display: inline-block; }

/*--------------------- Tables ---------------------*/
tr { border-color: #005395; border-style: solid; border-width: 0 1px; }
tr:nth-child(2n) { background: #e3effb; }
tr:nth-child(2n+1) { background: #f9f9f9; }
table th { background-color: #013765; border-color: #005395; border-style: solid; border-width: 1px; color: #fff; text-transform: uppercase; }
.table > thead > tr > th { border-bottom: 1px solid #005395 }
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th { border-top: 1px solid #005395; }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { border-top: 1px solid #bbb; }
.table > tbody > tr:last-child > td { border-bottom: 1px solid #005395; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.links { padding: 10px 0; }
.breadcrumb { margin-top: 20px; margin-bottom: 0; }

/*--------------------- input ---------------------*/
input[type='password'], input[type='text'], input[type='email'], textarea { padding: 6px; border: none; border: 1px solid #dfdfdf; color: #a6a6a6; resize: none; font-size: 14px; -webkit-user-select: text;
}
input[type='text'], input[type='email'], input[type='search'], input[type='password'], textarea { box-shadow: none !important; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-user-select: text; }

/*--------------------- Mobile menu ---------------------*/
/*.mobile-nav-container { display: none; }*/
.showmenu .mobile-nav, .showmenu .mobile-nav-container { background-color: #14bcb8; }
.mobile-nav { background-color: #003765; border: none; padding: 14px; width: 100%; }
.mobile-nav .icon-bar { height: 2px; background-color: #fff; display: block; margin: 4px auto 0; width: 32px; }
.showmenu .mobile-nav .icon-bar { clear: both; float: right; }
.mobile-nav .icon-bar:first-child { margin: 0 auto 0; }
.mobile-nav .text { color:#fff; display: none; }

/*--------------------- main-container ---------------------*/
.field-name-body{ padding-top: 20px; }

.meta.submitted { padding: 20px 0; }
.meta.submitted .username:before, .meta.submitted span:nth-child(2):before { content: '\f073'; font-family: FontAwesome; margin-right: 4px; margin-left: 8px; display: inline-block; }

.margin-bottom50 { margin-bottom: 50px; }
.margin-bottom40 { margin-bottom: 40px; }
.margin-bottom30 { margin-bottom: 30px; }
.margin-bottom20 { margin-bottom: 20px; }
.margin-bottom10 { margin-bottom: 10px; }
.margin-top50 { margin-top: 50px; }
.margin-top40 { margin-top: 40px; }
.margin-top30 { margin-top: 30px; }
.margin-top20 { margin-top: 20px; }
.margin-top10 { margin-top: 10px; }

/*--------------------- Collapsible Block ---------------------*/
.collapsiblock { position: relative; }
.collapsiblock h2.block-title { color: #fff; font-size: 18px; margin: 0; cursor: pointer; padding: 10px; display: block; background: #2bcec4; }
.collapsiblock.active h2.block-title { text-shadow: 1px 1px 1px #000; font-weight: bold; background: #2bcec4; }
.collapsiblock .content { background: #2bcec4; color: #fff; position: absolute; padding: 10px; height: 0; opacity: 0; overflow: hidden; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -o-transition: all .2s ease; -ms-transition: all .2s ease; transition: all .2s ease; z-index: 99; }
.collapsiblock .content { width: 100%; }
.collapsiblock.active .content { height: auto; opacity: 1; }

/*--------------------- Price table ---------------------*/
.price-table-1 .price-item .price-content { border: 1px solid #ccc; text-align: center; padding-bottom: 20px; }
.price-table-1 .price-item .sub-header { padding: 25px 20px; font-size: 30px; color: #fff; }
.price-table-1 .plan-price { background: #000; color: #fff; padding: 10px; font-weight: bold; font-style: italic }
.price-table-1 .price-item .price-content .listyle-1 { padding: 20px; }

/*--------------------- Price table 2 ---------------------*/
.price-table-2 .price-item .price-content { text-align: center; padding-bottom: 20px; }
.price-table-2 .price-item .sub-header { padding: 25px 20px; font-size: 30px; color: #fff; display: inline-block; width: 140px; height: 140px; -webkit-border-radius: 80px; -moz-border-radius: 80px; border-radius: 80px; padding-top: 60px; }
.price-table-2 .plan-price { background: #000; color: #fff; padding: 10px; font-weight: bold; font-style: italic }
.price-table-2 .price-item .price-content .listyle-1 { padding: 20px; }

/*--------------------- Social icon ---------------------*/
.social_icons { float: right; }
.social_icons ul { margin: 0; padding: 0; }
.social_icons ul li { float: left; list-style: none; margin: 0; padding: 0; display: block; margin-right: 2px; }
.social_icons ul li a { display: block; padding: 2px 4px; opacity: .8; }
.social_icons ul li a:hover { opacity: 1; }
.social_icons ul li a .fa{ font-size: 34px; }
.fa-facebook-square { color: #3b5998; }
.fa-twitter-square { color: #4099FF; }
.fa-google-plus-square { color: #D34836; }
.fa-linkedin-square { color: rgb(14, 118, 168); }
.fa-rss-square { color: rgb(238, 128, 47); }

.owl-carousel .quiz-item .qui-item { overflow: hidden; height: 180px; }
.owl-theme .owl-controls .owl-page span { background: none; opacity: 1; border: 1px solid #00B4ED; margin: 4px; }
.owl-theme .owl-controls .owl-page.active span { background: #00B4ED; }

.parallax .panel-separator { margin: 0; }
.parallax #main-container .sub-wrapper .pane-title, .parallax #main-container .sub-wrapper .pane-content { width: 960px; margin: 0 auto; padding: 10px 0; }
.parallax .panels-flexible-region-1-center, .parallax #main-container .sub-wrapper { width: 100%; }

/*--------------------- fixed top ---------------------*/
@keyframes topToBottom {
  0% { top: -200px; }
  100% { top: 0; }
}
@-webkit-keyframes topToBottom {
  /* Safari and Chrome */
  0% { top: -200px; }
  100% { top: 0; }
}

.panel-default > .panel-heading { padding: 0; }
.panel-default .panel-heading h4.panel-title { line-height: normal; }
.panel-default .panel-heading h4.panel-title a { padding: 10px; display: block; }

.progress { height: auto; }
.progress-bar { padding: 6px; }

.move { -webkit-animation: progress-bar-stripes 2s linear infinite; -o-animation: progress-bar-stripes 2s linear infinite; animation: progress-bar-stripes 2s linear infinite; background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent); background-image: -o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent); background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent); background-size: 40px 40px; }

/*--------------------- scrool-top ---------------------*/
#back-top { position: fixed; bottom: 10px; z-index: 499; right: 40px; background: #0bc5ee; padding: 9px 6px; font-size: 22px; }
#back-top a { width: 30px; display: block; text-align: center; text-transform: uppercase; text-decoration: none; color: #fff; }

/*--------------------- Bootstrap ---------------------*/
.block a.dropdown-toggle.block-toggle { display: none; }
