body.showmenu .wrapper { position: relative; left: -250px; }
.wrapper-outer { position: relative; width: 100%; overflow-x: hidden; }

.logo, .toplinks { float: none; text-align: center; }
@media only screen and (min-width:481px) and (max-width:800px) {
.logo img { max-width: 360px; }
}

#navigation.midsidepadding { padding: 0; }
#navigation { width: 240px; background-color: #003765; position: absolute; right: 0px; top: 0px; height: 100%; z-index: 9; right: -240px; border-left: 1px solid #fff; border-top: 5px solid #003765; }
.menu--main .menu li { display: block; }
.menu--main .menu li a { border-bottom: 1px solid #fff; letter-spacing: 1.25px; padding: 10px 15px; }

/* ----------- Sub menu show and hide ------------- */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #013765; }
.navbar-default .sub-arrow:focus, .navbar-default .sub-arrow:hover { background-color: #fff; }
.navbar-default .navbar-collapse { background-color: #013765; border-top: 1px solid #fff; box-shadow: none; }
.navbar-default .navbar-nav li a { padding: 14px 0 14px 40px; }
.navbar-nav.sm-collapsible a.has-submenu { padding-right: 0px; }
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret { border-width: 0; margin: 0; width: 40px; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus { background-color: #013765; color: #fff; }
.navbar-default .navbar-nav > .open > a:hover { background-color: #fff; color: #013765; }
.navbar-default .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-default .navbar-nav .open .dropdown-menu > li > a { padding: 14px 0 14px 40px; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #fff; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { background-color: #013765; color: #fff; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { background-color: #fff; color: #013765; }

.quote-text-top-container, .quote-text-middle-container { display: none; }

.region-links { border-bottom: 1px solid #555; border-right: none; padding-right: 0; }
.world-map { padding-left: 0; }

/*--------------------------- footer ---------------------*/
.footer-container { text-align: center; }
