@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Istok+Web|Oxygen:300,700,400|Varela+Round|Chivo|Telex);
#twitter-block-wrapper.row { margin: 0; padding: 40px 20px; }
.timeline { max-width: none; margin: 0; }
.stream { background-color: #e3effb; }
.timeline-header { border-width: 0px 0px 1px 0px; }
.timeline-header h1.summary, .timeline-header h1.summary a:link, .timeline-header h1.summary a:visited { color: #003765; }
.p-author .profile .p-name, .p-author a.profile:hover .p-name, .p-author a.profile:focus .p-name { color: #003765 !important; }
.p-author .profile .p-nickname, .p-author a.profile:hover .p-nickname, .p-author a.profile:focus .p-nickname, .e-entry-title { color: #868686; }
.like-action.web-intent, .reply-action.web-intent { display: none; }
ol.h-feed { display: inline-flex; padding: 0; }
ol.h-feed li { display: inline-block; border-width: 0px 0px 0px 0px; border-style: solid; border-color: #bbb; }
.dt-updated { color: #003765; }
a.u-url, a.u-url:visited, a.u-url:active, a.u-url:hover, a.u-url:focus { color: #003765 !important; }
.expand { display: none; }
.tweet-actions { visibility: visible; }
.footer { transition: none; margin-top: 10px; padding: 0px; }
.inline-media { margin: 5px 0 0; max-width: 50%; }
img.autosized-media { max-height: none !important; max-width: 25% !important; /*height: 172px;*/ }
