{#
/**
 * @file
 * Theme for ARISE Library Feed block.
 *
 * Available variables:
 * - content: may be empty
 * - status: remote server status delivering json feed
 * - total: total number of items provided by json feed
 * - num_items: number of items configured to be displayed
 * - results: array of results
 * - more_link: more link URL
 * - more_text: more link text
 *
 * @ingroup themeable
 */
#}
{% if num_items == 0 or num_items > total %}
  {% set numdisplay = total %}
{% else %}
  {% set numdisplay = num_items %}
{% endif %}

{% if status == 200 %}
  {% if numdisplay > 0 %}
<div class="feed-library feed-good-practices feed-container container-fluid nopadding">
    {% set count = 1 %}
    {% for publication in results if count <= numdisplay %}
      {%
        set classes = [
          'good-practice',
          'publication',
          'row',
          'nomargin',
          'smallsidepadding',
          'smallpadding',
        ]
      %}

      {# add even/odd class #}
      {% set classes = classes|merge([cycle(['even', 'odd'], loop.index)]) %}

      {# add first/last class #}
      {% if loop.first %}
        {% set classes = classes|merge(['first']) %}
      {% endif %}
      {% if count == numdisplay %}
        {% set classes = classes|merge(['last']) %}
      {% endif %}
  <div id="publication-id-{{ publication.id }}" class="{{ classes|join(' ') }}">
    <div class="publication-thumbnail col-md-2 col-sm-4 col-xs-4 nopadding">
      <a href="{{ publication.url }}" class="publication-url" target="_blank"><img src="{{ publication.thumbnail }}" /></a>
    </div>
    <div class="publication-info col-md-10 col-sm-8 col-xs-8 nopadding">
      <div class="publication-title row nomargin smallbottommargin"><a href="{{ publication.url }}" class="publication-url" target="_blank">{{ publication.title }}</a></div>
      <div class="publication-source row nomargin extrasmallbottommargin"><span class="publication-label">Source(s):</span><span>{{ publication.sources }}</span></div>
      <div class="publication-date row nomargin extrasmallbottommargin"><span class="publication-label">Publication date:</span><span>{{ publication.published }}</span></div>
      <div class="publication-pages row nomargin smallbottommargin"><span class="publication-label">Number of pages:</span><span>{{ publication.pub_pages }}</span></div>
      <div class="publication-abstract row nomargin smallbottommargin">{{ publication.pub_abstract|raw }}</span></div>
    </div>
  </div>
      {% set count = count + 1 %}
    {% endfor %}
</div>
  {% else %}
<div class="message-container error-container container-fluid smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="error no-feed col-md-12 col-sm-12 col-xs-12 nopadding">{{ 'No available content'|t }}</div>
  </div>
</div>
  {% endif %}
{% else %}
<div class="message-container error-container container-fluid smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="error status-{{ status }} col-md-12 col-sm-12 col-xs-12 nopadding">{{ 'Remote server error'|t }}</div>
  </div>
</div>
{% endif %}
<div class="container-fluid nopadding smallsidepadding">
  <div class="row nomargin">
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
      <div class="tab-footer feed-footer members-footer">
        <a href="{{ more_link }}" class="more-link" target="_blank">{{ more_text|t }}</a>
      </div>
    </div>
  </div>
</div>
