{#
/**
 * @file
 * Theme for ARISE Library Feed block.
 *
 * Available variables:
 * - content: may be empty
 * - status: remote server status delivering json feed
 * - total: total number of items provided by json feed
 * - num_items: number of items configured to be displayed
 * - results: array of results
 * - more_link: more link URL
 * - more_text: more link text
 * - with_sort_filter: 
 * - country_unique_list_sorted: id => country name map, order ASC by country names
 * - data_error: true or false wether total != results length, error control
 *
 * @ingroup themeable
 */
#}
{% if num_items == 0 or num_items > total %}
  {% set numdisplay = total %}
{% else %}
  {% set numdisplay = num_items %}
{% endif %}

{% if status == 200 %}
  {% if numdisplay > 0 %}
    {% if with_sort_filter == 'yes' %}
<div class="controls-container controls sort-filter-controls members-sort-filter-controls container-fluid smallsidepadding smallpadding">
  <div class="col-md-8 col-sm-6 col-xs-6 nopadding">
    <div class="btn-group sort-btn-group">
      <button type="button" class="btn btn-default">{{ 'Sorting'|t }}</button>
      <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
        <span class="caret caret-sort"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="sort" data-sort="org-title-long-order:asc">Organization ASC</li>
        <li class="divider grey"></li>
        <li class="sort" data-sort="org-title-long-order:desc">Organization DESC</li>
        <li class="divider"></li>
        <li class="sort" data-sort="ctry-title-order:asc">Country ASC</li>
        <li class="divider grey"></li>
        <li class="sort" data-sort="ctry-title-order:desc">Country DESC</li>
        <li class="divider"></li>
        <li class="sort" data-sort="random">Random</li>
        <li class="divider grey"></li>
        <li class="sort" data-sort="ctry-title-init-order:asc">Reset</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-6 nopadding smallleftpadding">
    <div class="btn-group country-btn-group">
      <button type="button" class="btn btn-default">Select a country</button>
      <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle country-dropdown-toggle">
        <span class="caret caret-country-filter"></span>
      </button>
      <ul class="country-dropwown-menu dropdown-menu">
        <li class="filter active first" data-filter="all">All</li>
        <li class="divider"></li>
      {% set count = 1 %}
      {% for key, country in country_unique_list_sorted %}
        {% set classes = ['filter'] %}
        {% if count  == country_unique_list_sorted|length %}
          {% set classes = classes|merge(['last']) %}
        {% endif %}
        <li class="{{ classes|join(' ') }}" data-filter=".country-{{ key }}">{{ country }}</li>
        {% set count = count + 1 %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
    {% endif %}
<div class="feed-members feed-container container-fluid {% if with_sort_filter == 'yes' %}nopadding{% else %}smallsidepadding{% endif %} smallpadding">
    {% set count = 1 %}
    {% for member in results if count <= numdisplay %}
      {%
        set classes = [
          'member',
          'col-md-12',
          'col-sm-12',
          'col-xs-12',
          'smallsidepadding',
          'smallpadding',
        ]
      %}

      {# necessary for country filter #}
      {% set classes = classes|merge(['country-' ~ member.org_ctry_id]) %}

      {# add mix class if there is sort/filter option #}
      {% if with_sort_filter == 'yes' %}
        {% set classes = classes|merge(['mix']) %}
      {% endif %}

      {# add even/odd class #}
      {% set classes = classes|merge([cycle(['even', 'odd'], loop.index)]) %}

      {# add first/last class #}
      {% if loop.first %}
        {% set classes = classes|merge(['first']) %}
      {% endif %}
      {% if count == numdisplay %}
        {% set classes = classes|merge(['last']) %}
      {% endif %}
  <div id="member-id-{{ member.org_id }}" class="{{ classes|join(' ') }}" data-ctry="{{ member.org_ctry_id }}" data-ctry-title="{{ member.ctry_title }}" data-ctry-title-order="{{ member.data_ctry_title_order }}" data-org-title-long-order="{{ member.data_org_title_long_order }}" data-ctry-title-init-order="{{ member.data_ctry_title_init_order }}">
    <div class="member-title col-md-8 col-sm-6 col-xs-6 nopadding"><a href="http://www.preventionweb.net/organizations/{{ member.org_id }}/profile" class="member-link" target="_blank">{{ member.org_title_long }}</a></div>
    <div class="member-country col-md-4 col-sm-6 col-xs-6 nopadding smallleftpadding">{{ member.ctry_title|raw }}</div>
  </div>
      {% set count = count + 1 %}
    {% endfor %}
</div>
  {# empty content received #}
  {% else %}
<div class="message-container error-container container-fluid smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="error no-feed col-md-12 col-sm-12 col-xs-12 nopadding">{{ 'No available content'|t }}</div>
  </div>
</div>
  {% endif %}
{# status not equal to 200 #}
{% else %}
<div class="message-container error-container container-fluid smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="error status-{{ status }} col-md-12 col-sm-12 col-xs-12 nopadding">{{ 'Remote server error'|t }}</div>
  </div>
</div>
{% endif %}

{% if more_text and more_link %}
  {% if with_sort_filter == 'yes' %}
<div class="feed-container container-fluid link-container">
  <a href="{{ more_link }}" class="more-link" target="_blank">{{ more_text|t }}</a>
</div>
<div class="total-members-hidden" style="display: none;">{{ total }}</div>
  {% else %}
<div class="container-fluid nopadding smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
      <div class="tab-footer feed-footer members-footer">
        <a href="{{ more_link }}" class="more-link" target="_blank">{{ more_text|t }}</a>
      </div>
    </div>
  </div>
</div>
  {% endif %}
{% endif %}
