{#
/**
 * @file
 * Theme for ARISE Partners Feed block.
 *
 * Available variables:
 * - content: may be empty
 * - text:
 * - more_link:
 * - more_text:
 *
 * @ingroup themeable
 */
#}
<div class="feed-partners feed-container container-fluid smallsidepadding smallpadding">
  <div class="row nomargin largerightpadding">
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding largerightpadding">
      <p>{{ text }}</p>
    </div>
  </div>
</div>
<div class="container-fluid nopadding smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
      <div class="tab-footer feed-footer members-footer">
        <a href="{{ more_link }}" class="more-link" target="_blank">{{ more_text|t }}</a>
      </div>
    </div>
  </div>
</div>
