{#
/**
 * @file
 * Theme for ARISE Library Feed block.
 *
 * Available variables:
 * - content: may be empty
 * - status: remote server status delivering json feed
 * - total: total number of items provided by json feed
 * - num_items: number of items configured to be displayed
 * - results: array of results
 * - more_link: more link URL
 * - more_text: more link text
 *
 * @ingroup themeable
 */
#}
{% if num_items == 0 or num_items > total %}
  {% set numdisplay = total %}
{% else %}
  {% set numdisplay = num_items %}
{% endif %}

{% if status == 200 %}
  {% if numdisplay > 0 %}
<div class="feed-container feed-events container-fluid nopadding">
    {% set count = 1 %}
    {% for event in results if count <= numdisplay %}
      {%
        set classes = [
          'event',
          'col-md-3',
          'col-sm-12',
          'col-xs-12',
          'smallsidepadding',
          'smallpadding',
        ]
      %}

      {# add even/odd class #}
      {% set classes = classes|merge([cycle(['even', 'odd'], loop.index)]) %}

      {# add first/last class #}
      {% if loop.first %}
        {% set classes = classes|merge(['first']) %}
      {% endif %}
      {% if count == numdisplay %}
        {% set classes = classes|merge(['last']) %}
      {% endif %}
  <div id="event-id-{{ event.id }}" class="{{ classes|join(' ') }}">
    <div class="event-location smallbottompadding">
      <span class="event-location-country">{{ event.locations.0.country }}</span>
      <span class="event-location-city">({{ event.locations.0.city }})</span>
    </div>
    <div class="event-date smallbottommargin smallbottompadding">
      {% set date_event = event.date_event_format|split('/') %}
      {% if date_event.0 is defined %}
        {% set date_event_start = date_event.0|split('-') %}
        {% if date_event_start.0 is defined %}
      <span class="event-date-elem event-date-day first">{{ date_event_start.0 }}</span>
        {% endif %}
        {% if date_event_start.1 is defined %}
      <span class="event-date-elem event-date-month">{{ date_event_start.1 }}</span>
        {% endif %}
        {% if date_event_start.2 is defined %}
      <span class="event-date-elem event-date-year">{{ date_event_start.2 }}</span>
        {% endif %}
      {% endif %}
      {% if date_event.1 is defined %}
      <span class="event-date-elem event-date-dash">-</span>
        {% set date_event_end = date_event.1|split('-') %}
        {% if date_event_end.0 is defined %}
      <span class="event-date-elem event-date-day">{{ date_event_end.0 }}</span>
        {% endif %}
        {% if date_event_end.1 is defined %}
      <span class="event-date-elem event-date-month">{{ date_event_end.1 }}</span>
        {% endif %}
        {% if date_event_end.2 is defined %}
      <span class="event-date-elem event-date-year last">{{ date_event_end.2 }}</span>
        {% endif %}
      {% endif %}
    </div>
    <div class="event-summary smallbottommargin"><a href="{{ event.url }}" class="event-link" target="_blank">{{ event.title }}</a></div>
  </div>
      {% set count = count + 1 %}
    {% endfor %}
</div>
  {# empty content received #}
  {% else %}
<div class="message-container error-container container-fluid smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="error no-feed col-md-12 col-sm-12 col-xs-12 nopadding">{{ 'No available content'|t }}</div>
  </div>
</div>
  {% endif %}
{# status not equal to 200 #}
{% else %}
<div class="message-container error-container container-fluid smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="error status-{{ status }} col-md-12 col-sm-12 col-xs-12 nopadding">{{ 'Remote server error'|t }}</div>
  </div>
</div>
{% endif %}
<div class="container-fluid nopadding smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
      <div class="tab-footer feed-footer members-footer">
        <a href="{{ more_link }}" class="more-link" target="_blank">{{ more_text|t }}</a>
      </div>
    </div>
  </div>
</div>
