{#
/**
 * @file
 * Theme for ARISE Library Feed block.
 *
 * Available variables:
 * - content: may be empty
 * - status: remote server status delivering json feed
 * - total: total number of items provided by json feed
 * - num_items: number of items configured to be displayed
 * - results: array of results
 * - more_link: more link URL
 * - more_text: more link text
 *
 * @ingroup themeable
 */
#}
{% if num_items == 0 or num_items > total %}
  {% set numdisplay = total %}
{% else %}
  {% set numdisplay = num_items %}
{% endif %}

{% if status == 200 %}
  {% if numdisplay > 0 %}
<div class="feed-container feed-news container-fluid nopadding">
      {% set count = 1 %}
      {% for news in results if count <= numdisplay %}
      {%
        set classes = [
          'news',
          'col-md-3',
          'col-sm-12',
          'col-xs-12',
          'smallsidepadding',
          'smallpadding',
        ]
      %}

      {# add even/odd class #}
      {% set classes = classes|merge([cycle(['even', 'odd'], loop.index)]) %}

      {# add first/last class #}
      {% if loop.first %}
        {% set classes = classes|merge(['first']) %}
      {% endif %}
      {% if count == numdisplay %}
        {% set classes = classes|merge(['last']) %}
      {% endif %}
      {% set date_published = news.published %}
  <div id="news-id-{{ news.id }}" class="{{ classes|join(' ') }}">
      <div class="news-published-date smallbottommargin smallbottompadding">{{ news.published|replace({'/': '-'})|date('Y-m-d') }}</div>
      <div class="news-title smallbottompadding"><a href="{{ news.url }}" class="news-link" target="_blank">{{ news.title }}</a></div>
      <div class="news-sources smallbottommargin">{{ news.sources }}</div>
      <div class="news-date smallbottommargin text-right">{{ 'News date'|t ~ ': ' ~ news.date }}</div>
  </div>
      {% set count = count + 1 %}
    {% endfor %}
</div>
  {# empty content received #}
  {% else %}
<div class="message-container error-container container-fluid smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="error no-feed col-md-12 col-sm-12 col-xs-12 nopadding">{{ 'No available content'|t }}</div>
  </div>
</div>
  {% endif %}
{# status not equal to 200 #}
{% else %}
<div class="message-container error-container container-fluid smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="error status-{{ status }} col-md-12 col-sm-12 col-xs-12 smallsidepadding smallpadding">{{ 'Remote server error'|t }}</div>
  </div>
</div>
{% endif %}
<div class="container-fluid nopadding smallsidepadding smallpadding">
  <div class="row nomargin">
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
      <div class="tab-footer feed-footer members-footer">
        <a href="{{ more_link }}" class="more-link" target="_blank">{{ more_text|t }}</a>
      </div>
    </div>
  </div>
</div>
