{# {{ dump() }} #}
<div id="wrapper-outer" class="wrapper-outer container-fluid nopadding">
  <div id="wrapper" class="wrapper row nomargin">
    <div class="debug-container container-fluid nopadding">
      <div class="debug-row row nomargin">
        <div class="debug-col col-md-12 col-sm-12 col-xs-12 nopadding"></div>
      </div>
    </div><!-- end top-container -->
{% if page.top %}
    <div id="top-container" class="top-container container-fluid nopadding">
      <div class="row nomargin">
        <div class="col-md-12 col-sm-12 col-xs-12 nopadding">{{ page.top }}</div>
      </div>
    </div><!-- end top-container -->
{% endif %}
    <div id="header-container" class="header-container container-fluid nopadding">
      <div class="row nomargin">
        <div class="col-md-12 col-sm-12 col-xs-12 midsidepadding midpadding">
{% if page.logocontainer %}
          <div id="logo-container">{{ page.logocontainer }}</div>
{% endif %}
        </div>
      </div>
    </div><!-- Header -->
{% if page.navigation %}
    <header class="navbar navbar-default container-fluid nomargin midsidepadding" role="banner">
      <div class="navbar-header nopadding">
        <button type="button" id="mobile-nav" class="mobile-nav navbar-toggle nomargin extrasmallsidepadding" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only text">{{ 'Menu'|t }}</span>
          <span class="icon-bar first"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar last"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse nopadding">{{ page.navigation }}</div>
    </header><!-- end .navbar -->
{% endif %}
{% if page.slider %}
    <div id="slider-container" class="slider-container container-fluid nopadding">
      <div class="row nomargin">
        <div id="slider" class="col-md-12 col-sm-12 col-xs-12 nopadding">{{ page.slider }}</div>
      </div>
    </div> <!-- end slider-container -->
{% endif %}
{% if is_front %}
    <div id="tabs-container" class="tabs-container container-fluid nopadding">
      <div class="row nomargin">
        <div class="bg-blue tab-height"></div>
        <div class="container-fluid midsidepadding">
          <div class="simple-tab grey-light-shadow">
  {% if page.tab_navs %}
    {{ page.tab_navs }}
  {% endif %}
  {% if page.tabs %}
    {{ page.tabs }}
  {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endif %}
    <div id="main-container" class="main-container container-fluid nopadding">
      <div class="row nomargin">
{% set left_side_classes = ['left-sidebar',] %}
{% set right_side_classes = ['right-sidebar',] %}
{% set main_classes = [] %}
{% set main_width = 12 %}
{% if page.left %}
  {% set main_width = main_width - 3 %}
  {% set left_side_classes = left_side_classes|merge(['col-md-3']) %}
{% endif %}
{% if page.right %}
  {% set main_width = main_width - 3 %}
  {% set right_side_classes = right_side_classes|merge(['col-md-3']) %}
{% endif %}
{% set left_side_classes = left_side_classes|merge(['col-sm-12', 'col-xs-12', 'midsidepadding', 'midpadding',]) %}
{% set right_side_classes = right_side_classes|merge(['col-sm-12', 'col-xs-12', 'midsidepadding', 'midpadding',]) %}
{% set main_classes = main_classes|merge(['col-md-' ~ main_width, 'col-sm-12', 'col-xs-12', 'midsidepadding', 'midpadding',]) %}
{% if page.left %}
        <div id="left-sidebar" class="{{ left_side_classes|join(' ') }}">
          <div class="sidebar">{{ page.left }}</div>
        </div>
{% endif %}
        <div id="main" class="{{ main_classes|join(' ') }}">
          <div id="main-content">
{% if page.content_top %}
            <div id="content-top">{{ page.content_top }}</div>
{% endif %}
{{ title_prefix }}
{% if title %}
            <h1 class="page-title">{{ title }}</h1>
{% endif %}
{{ title_suffix }}
              <div id="sub-content" class="clearfix">
{{ title_suffix }}
{{ tabs }}
{% if action_links %}
                <nav class="action-links">{{ action_links }}</nav>
{% endif %}
{{ page.content }}
{% if page.content_bottom %}
                <div id="content-bottom">{{ page.content_bottom }}</div>
{% endif %}
                <div class="clear"></div>
                <!-- Do not touch -->
              </div>
          <!-- main-container -->
          </div>
          <!-- squeeze -->
        </div>
        <!-- main -->
{% if page.right %}
        <div id="right-sidebar" class="{{ right_side_classes|join(' ') }}">
          <div class="sidebar">{{ page.right }}</div>
        </div>
{% endif %}
      </div>
    </div><!-- main-container -->
{% if page.bottom_first %}
    <div id="bottom-first-container" class="bottom-first-container container-fluid midtopmargin nopadding">
      <div class="row nomargin">
        <div id="bottom-first" class="bottom-first col-md-12 col-sm-12 col-xs-12 nopadding">{{ page.bottom_first }}</div>
      </div>
    </div>
    <!-- end bottom-first-container -->
{% endif %}
{% if page.bottom_second %}
    <div id="bottom-second-container" class="bottom-second-container container-fluid midtopmargin nopadding">
      <div class="row nomargin">
        <div id="bottom-second" class="bottom-second col-md-12 col-sm-12 col-xs-12 nopadding">{{ page.bottom_second }}</div>
      </div>
    </div>
    <!-- end bottom-second-container -->
{% endif %}
{% if page.footer %}
    <div id="footer-container" class="footer-container container-fluid midtopmargin midsidepadding midpadding">
      <div class="row nomargin">
        <div class="col-md-12 col-sm-12 col-xs-12 nopadding">{{ page.footer }}</div>
      </div>
    </div><!-- end footer-container -->
{% endif %}
    <div id="bottom-container" class="bottom-container container-fluid midtopmargin midsidepadding midpadding">
      <div class="row nomargin">
        <div class="unisdr-img col-md-12 col-sm-12 col-xs-12 text-center nopadding">
          <img src="{{ base_path }}{{ active_theme_path() }}/images/unisdr-logo.png" />
        </div>
      </div>
    </div>
  </div>
</div>
