{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
<div class="full-bg bg-blue">
  <div class="container-fluid engage-regions-container nopadding">
    <div class="col-md-12 col-xs-12 nopadding">
      <div class="row nomargin">
        <div class="region-links col-md-3 col-xs-12 nopadding midrightpadding midbottompadding">
{% if title %}
          <h1>{{ title|t }}</h1>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {% if loop.first %}
    {% set row_classes = row_classes|merge(['first']) %}
  {% endif %}
  {% if loop.last %}
    {% set row_classes = row_classes|merge(['last']) %}
  {% endif %}
          <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
          </div>
{% endfor %}
        </div>
        <div class="world-map col-md-9 col-xs-12 nopadding midleftpadding midpadding"><img src="{{ map }}" alt="World map" /></div>
      </div>
    </div>
  </div>
</div>
