{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
<!--<div class="row nomargin">-->
<div class="action-box-container header-box-container text-right bg-darker-blue col-md-3 col-sm-12 col-xs-12 nopadding">
  <div class="header-box upper bold text-right smallrightpadding">
    <span>{{ 'Work'|t }}</span>
    <span>{{ 'streams'|t }}</span>
  </div>
</div>
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {% if loop.first %}
    {% set row_classes = row_classes|merge(['first']) %}
  {% endif %}
  {% if loop.last %}
    {% set row_classes = row_classes|merge(['last']) %}
  {% endif %}
<div{{ row.attributes.addClass(row_classes) }}>{{ row.content }}</div>
{#  {% if (loop.index + 1) is divisible by(4) and not loop.last %} #}
<!--</div>
<div class="row nomargin">-->
{#  {% endif %} #}
{% endfor %}
<!--</div>-->
