{#
/**
 * @file
 * Theme for ARISE Feed module's block.
 *
 * Available variables:
 * - title: 
 * - feed: 
 *
 * @ingroup themeable
 */
#}
<h3>{{ title }}</h3>
<ul>
    {% for event in feed %}
        <li>
            {{ feed.text|raw }}
            <br/>
        </li>
        <hr/>
    {% endfor %}
</ul>
