/* Adminimal Theme overrides file. All selectors must start with ".adminimal" */

/* Import the Open Sans webfont from Google CDN */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/uYKcPVoh6c5R0NpdEY5A-Q.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNShsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body.adminimal {
  font: normal 81.3%/1.538em "Open Sans", sans-serif;
}

.adminimal h1,
.adminimal .heading-a {
  font-weight: 300;
  margin-bottom: 19px;
  margin-bottom: 1rem;
  font-size: 2.35em;
  line-height: 1.2em;
  color: #fff;
}

.adminimal .content-header {
  background-color: #14bcb8;
  padding: 1rem 0 0;
}

.adminimal.toolbar-tray-open.toolbar-fixed.toolbar-horizontal {
  padding-top: 4rem !important;
}

.adminimal thead th {
  border: none;
  color: #909090;
  text-transform: none;
  font-weight: 500;
  font-size: 0.91rem;
}

.adminimal thead th.is-active {
  background: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #E6E4DF;
  border-left: 1px solid #E6E4DF;
  border-right: 1px solid #E6E4DF;
}

.adminimal th.is-active > a,
.adminimal th.is-active > a:hover {
  color: #333;
}

.adminimal th > a:hover {
  text-decoration: underline;
}

.adminimal th > a:after,
.adminimal th.is-active > a:after {
  display: none;
}

.adminimal thead > tr {
  border-bottom: 1px solid #E6E4DF;
}

.adminimal .tabs__tab {
  border: 1px solid transparent;
}

.adminimal .tabs.primary {
  margin: 0;
  margin: 0;
}

.adminimal .tabs.primary .tabs__tab.is-active {
  border-radius: 0; /* LTR */
}

[dir="rtl"] .adminimal .tabs.primary .tabs__tab.is-active {
  border-top-right-radius: 0;
}

.adminimal .is-collapse-enabled .tabs__trigger {
  border-radius: 0; /* LTR */
}

[dir="rtl"] .is-collapse-enabled .tabs__trigger {
  border-left: 1px solid transparent;
  border-radius: 0 0 0 0;
}

.adminimal .is-open .tabs__tab.is-active {
  border-bottom: 1px solid transparent;
}

.adminimal .is-horizontal .tabs__tab {
  transition: all, 0.3s;
}

.adminimal .is-horizontal .tabs__tab + .tabs__tab,
[dir="rtl"] .adminimal .is-horizontal .tabs__tab + .tabs__tab,
.adminimal .is-horizontal .tabs.primary .tabs__tab:first-child,
[dir="rtl"] .adminimal .is-horizontal .tabs.primary .tabs__tab:first-child,
.adminimal .is-horizontal .tabs.primary .tabs__tab:last-child,
[dir="rtl"] .adminimal .is-horizontal .tabs.primary .tabs__tab:last-child,
.adminimal .is-horizontal .tabs__tab.is-active,
.adminimal .is-horizontal .tabs.primary .tabs__tab.is-active,
[dir="rtl"] .adminimal .is-horizontal .tabs.primary .tabs__tab.is-active {
  border-radius: 0;
  border: none;
  margin-left: 0;
  margin-right: 0;
}

.adminimal .is-collapse-enabled .tabs:before,
.adminimal .is-horizontal .tabs:before {
  display: none;
}

.adminimal .tabs__tab,
.adminimal .tabs__tab:hover,
.adminimal .tabs__tab:focus,
.adminimal .tabs.primary a:focus {
  background: transparent;
}

.adminimal .is-horizontal .tabs.primary a:hover {
  text-decoration: underline;
}

.adminimal nav.is-horizontal.is-collapsible.position-container.is-horizontal-enabled ul.tabs.primary {
  background: #ebebeb;
  margin-left: -2.1rem;
  margin-right: -2.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.adminimal .is-horizontal .tabs.primary .tabs__tab:first-child.is-active {
  box-shadow: -0.5rem 0px 0 #fff;
}

.adminimal .is-horizontal ul.tabs.secondary li:first-of-type {
  margin-left: 0;
}

[dir="rtl"] .adminimal .is-horizontal ul.tabs.secondary li:first-of-type {
  margin-left: 1em;
}

[dir="rtl"] .adminimal .is-horizontal ul.tabs.secondary li:first-of-type {
  margin-right: 0;
}

.adminimal .vertical-tabs {
  border-radius: 0;
  border: none;
  background: transparent;
}

.adminimal .vertical-tabs__panes {
  border: none;
}

.adminimal .vertical-tabs__menu {
  border-bottom: none;
}

.adminimal .vertical-tabs__menu-item a {
  border: 0 none;
  transition: all, 0.2s;
}

.adminimal .vertical-tabs__menu-item a:hover,
.adminimal .vertical-tabs__menu-item a:focus {
  background: #D2E7F4;
}

.adminimal .vertical-tabs__menu-item.is-selected a:hover,
.adminimal .vertical-tabs__menu-item.is-selected a:focus {
  background: #FCFCFA;
}

.adminimal .vertical-tabs__menu-item.is-selected {
  border: 0 none;
  box-shadow: none;
}

.adminimal .button {
  border-radius: 0;
  background-image: none;
  background-color: #F9F9F9;
  text-shadow: none;
  transition: all, 0.2s;
}

.adminimal .button:hover,
.adminimal .button:focus {
  background-color: #FFFFFF;
  border-color: #008ee6;
  background-image: none;
}

.adminimal .button-action:before {
  display: none;
}

.adminimal .action-links {
  margin: 2em 0;
}

.adminimal .button--primary {
  background: #0071b8;
  border-color: #0071b8;
}

.adminimal .button--primary:hover,
.adminimal .button--primary:focus {
  background-image: none;
  background-color: #1f86c7;
  border-color: #1f86c7;
}

.adminimal .button:focus {
  box-shadow: none;
  border-color: rgb(104, 163, 207);
  outline: rgb(193, 224, 255) solid 2px;
}

.adminimal .button--small:focus {
  outline: none;
}

.adminimal .action-links .button--primary {
  color: #327EBD;
  background: #fff;
  font-size: 14px;
  padding: 0.33rem 1.33rem;
  border: 2px solid #327ebd;
  font-family: sans-serif;
  border-radius: 999px;
  font-weight: 600;
}

.adminimal .action-links .button--primary:hover,
.adminimal .action-links .button--primary:focus {
  color: #fff;
  box-shadow: none;
  background-image: none;
  background-color: #327EBD;
}

.adminimal .action-links .button--primary:focus {
  border-color: #08639b;
  outline: none;
}

.adminimal .button--small {
  border-color: #cacaca;
  border-radius: 0.2rem;
  color: #b1b1b1;
  font-weight: 500;
  background: #fff;
}

.adminimal .button--danger {
  text-decoration: none;
  background-color: transparent;
}

.adminimal .button--danger:hover {
  text-decoration: underline;
}

.adminimal select {
  min-height: 28px;
  text-shadow: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .adminimal select {
    border-radius: 0;
    background: url(../images/caret-down.svg) no-repeat 98% 64% #fcfcfa;
  }

  .adminimal select:focus,
  .adminimal select:hover {
    background: url(../images/caret-down.svg) no-repeat 98% 64% #fcfcfa;
  }
  .adminimal select:focus {
    border-color: #68A3CF;
    outline: 2px solid #C1E0FF;
    outline-offset: 0px;
    color: #000;
  }
}

.js .adminimal .form-actions .dropbutton .dropbutton-action > * {
  text-shadow: none;
}

.js .adminimal .form-actions .dropbutton .dropbutton-action > *,
.js .adminimal .dropbutton-widget .dropbutton-action a,
.js .adminimal .dropbutton-widget .dropbutton-action input,
.js .adminimal .dropbutton-widget .dropbutton-action button,
.js .adminimal .dropbutton-multiple .dropbutton-widget,
.js .adminimal .dropbutton-widget .dropbutton-action input,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0;
  font-weight: 500;
  box-shadow: none;
}

.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus {
  box-shadow: none;
}

.js .adminimal .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button,
.adminimal .form-actions .dropbutton .secondary-action {
  border-color: #FFFFFF;
}

.js .adminimal .dropbutton-multiple .dropbutton-widget {
  background: #fcfcfa;
  background-image: none;
  text-shadow: none;
}

.js .adminimal .form-actions .dropbutton-multiple .dropbutton-widget {
  background-color: #0071b8;
}

.js .adminimal .dropbutton-multiple .dropbutton-widget {
  text-shadow: none;
}

.js .adminimal .dropbutton-multiple.open .dropbutton-action:first-child a,
.js .adminimal .dropbutton-multiple.open .dropbutton-action:first-child .button {
  border-radius: 0;
}

.js .adminimal .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:hover,
.js .adminimal .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:focus {
  background-image: none;
  box-shadow: none;
}

.adminimal label {
  margin: 0 0 0.2em;
}

.adminimal input.form-autocomplete,
.adminimal input.form-text,
.adminimal input.form-tel,
.adminimal input.form-email,
.adminimal input.form-url,
.adminimal input.form-search,
.adminimal input.form-number,
.adminimal input.form-color,
.adminimal input.form-file,
.adminimal input.form-date,
.adminimal input.form-time,
.adminimal textarea.form-textarea {
  box-shadow: none;
  border-radius: 0;
}

.adminimal .form-text:focus,
.adminimal .form-tel:focus,
.adminimal .form-email:focus,
.adminimal .form-url:focus,
.adminimal .form-search:focus,
.adminimal .form-number:focus,
.adminimal .form-color:focus,
.adminimal .form-file:focus,
.adminimal .form-textarea:focus,
.adminimal .form-date:focus,
.adminimal .form-time:focus {
  border-color: #68A3CF;
  outline: 2px solid #C1E0FF;
  outline-offset: 0px;
  color: #000;
}

.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background-image:none;
  background-color: #FFFFFF;
}

.adminimal .link.tabledrag-toggle-weight {
  margin-bottom: 0.3em;
}

.adminimal .toolbar {
  font-family: "Open Sans";
}

.adminimal.toolbar-fixed.toolbar-vertical {
  padding-top: 32px !important;
}

.adminimal .toolbar a {
  transition: all, 0.2s;
}

.adminimal .toolbar .toolbar-bar {
  box-shadow: none;
  background-color: #14bcb8;
}

.adminimal .toolbar .toolbar-menu {
  background: #333;
}

.adminimal .toolbar .toolbar-tray-vertical {
  border: none;
  box-shadow: none;
}

.adminimal .toolbar-tray a {
  color: #BBBBBB;
  text-decoration: none;
}

.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item {
  font-weight: 600;
}

.adminimal .toolbar .toolbar-bar .toolbar-item {
  color: #fff;
}

.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover {
  background-image: none;
  background-color: #f36f32;
  color: #fff;
  text-decoration: none;
}

.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active {
  background-color: #f36f32;
}
.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus {
  background-image: none;
  background-color: #333;
  text-decoration: none;
}

.adminimal .toolbar .toolbar-tray-horizontal .menu-item + .menu-item,
[dir="rtl"] .adminimal .toolbar .toolbar-tray-horizontal .menu-item + .menu-item,
.adminimal .toolbar .toolbar-tray-horizontal .menu-item:last-child {
  border-left: none; /* LTR */
  border-right: none;
}

.adminimal .toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,
.adminimal .toolbar .toolbar-tray a.is-active {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.adminimal .toolbar .toolbar-tray-vertical .menu-item + .menu-item {
  border: 0 none;
}

.adminimal .toolbar .toolbar-tray {
  background-color: #333;
  box-shadow: -2px 2px 12px rgba(0,0,0,0.85);
}

.adminimal .toolbar .toolbar-tray-horizontal {
  border-bottom: 1px solid #333;
  box-shadow: none;
}

.adminimal .toolbar .toolbar-toggle-orientation {
  background-color: #f36f32;
}

.adminimal .toolbar .toolbar-icon.toolbar-handle:focus {
  background-color: transparent;
}

.adminimal .toolbar .toolbar-icon.toolbar-handle:before {
  background-image: url(../images/chevron-disc-down.svg);
}

.adminimal .toolbar .toolbar-icon.toolbar-handle:hover:before {
  background-image: url(../images/chevron-disc-down-hover.svg);
}

.adminimal .toolbar .toolbar-icon.toolbar-handle.open:before {
  background-image: url(../images//chevron-disc-up.svg);
}

.adminimal .toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:before {
  background-image: url(../images/chevron-disc-down.svg);
}

.adminimal .toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:hover:before {
  background-image: url(../images/chevron-disc-down-hover.svg);
}

.adminimal .toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open:before {
  background-image: url(../images//chevron-disc-up.svg);
}

.adminimal .toolbar-tray-horizontal a:focus, .toolbar-box a:focus {
  background: transparent;
}

.adminimal .toolbar .toolbar-tray-vertical .toolbar-menu a {
  color: #BBB;
}

.adminimal .toolbar .toolbar-tray-vertical .toolbar-menu a:hover {
  color: #fff;
}

.adminimal .toolbar .toolbar-tray-vertical .toolbar-menu ul ul {
  border: none;
}

.adminimal .toolbar .toolbar-tray-horizontal .toolbar-toggle-orientation {
  border: none;
}

/* Style checkbox and radio buttons in Chrome + Safari + Opera */
@supports (-webkit-appearance:none) {
  input[type=checkbox],
  input[type=radio],
  input[type=checkbox]#edit-delete {
    -webkit-appearance:none;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 0.25em;
    padding: 0;
    background: #fff;
    border: 1px solid #B5B5B5;
    width: 16px !important;
    height: 16px !important;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: background 0.5s ease;
    outline: none;
  }

  .adminimal-theme .location .form-item input.form-checkbox {
    width: 16px;
    display: inline-block;
  }

  input[type=checkbox]#edit-delete {
    margin-bottom: 0;
  }

  input[type=radio] {
    border-radius: 50%;
  }

  input[type=checkbox]:hover,
  input[type=checkbox]:focus,
  input[type=radio]:hover,
  input[type=radio]:focus {
    border-color: #0074BD;
    cursor: pointer;
  }

  input[type=checkbox]#edit-delete:hover,
  input[type=checkbox]#edit-delete:focus {
    border-color: #D01616;
    cursor: pointer;
  }

  input[type=checkbox]:checked,
  input[type=checkbox]:disabled:checked,
  input[type=radio]:checked,
  input[type=radio]:disabled:checked{
    background: #0074BD;
    box-shadow: inset 0px 0px 0px 3px #fff;
  }

  input[type=checkbox]#edit-delete:checked,
  input[type=checkbox]#edit-delete:disabled:checked {
    background: #D01616;
    box-shadow: inset 0px 0px 0px 3px #fff;
  }

  input[type=checkbox]:disabled,
  input[type=radio]:disabled {
    opacity: .5;
    background: #E2E2E2;
  }

  input[type=checkbox]#edit-delete:disabled {
    opacity: .5;
    background: #E88181;
  }

  input[type=checkbox]:disabled:hover {
    border-color: #B5B5B5;
    cursor: default;
  }

  input[type=checkbox]:disabled:hover,
  input[type=radio]:disabled:hover {
    border-color: #B5B5B5;
    cursor: default;
    /*cursor: not-allowed;*/
  }

}

.adminimal .dropbutton-single .dropbutton-action a {
  border-radius: 0 !important;
  background-image: none;
  background: #F5F5F2;
}

.adminimal .ui-dialog .ui-dialog-titlebar {
  border-radius: 0;
  background: #333;
}

.adminimal .ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  border-radius: 0;
}

.adminimal .ui-dialog .ui-dialog-titlebar,
.adminimal .ui-dialog {
  outline: none;
}

.adminimal .ui-dialog {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.adminimal .ui-button-icon-only.ui-dialog-titlebar-close.ui-state-active,
.adminimal .ui-button-icon-only.ui-dialog-titlebar-close.ui-widget-content .ui-state-active {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.adminimal .ui-dialog .ui-dialog-titlebar-close {
  opacity: 0.5;
  transition: all, 0.2s;
}

.adminimal .ui-dialog .ui-dialog-titlebar-close:hover {
  opacity: 1;
}

.adminimal .messages {
  margin: 1rem 0 1rem 0;
  border-width: 1px 0px 1px 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  background-size: 1.3rem;
  background-position: 5px 50%;
}

.adminimal .messages--error {
  border-color: #E32700;
}

.adminimal .messages--warning {
  border-color: #E29700;
}

.adminimal .messages--status {
  border-color: #73B355;
}

.adminimal .cke_top,
.adminimal .cke_bottom {
  background: #F7F7F7;
  background-image: none;
  box-shadow: none;
}

.adminimal .filter-wrapper {
  background: #F7F7F7;
}

.adminimal .cke_ltr .cke_button:first-child,
.adminimal .cke_rtl .cke_button:last-child,
.adminimal .cke_toolgroup {
  border-radius: 0;
}

/* Main menu icons. */

.adminimal .toolbar-icon-system-admin-content:active:before,
.adminimal .toolbar-icon-system-admin-content.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/file.svg);
}

.adminimal .toolbar-icon-system-admin-structure:active:before,
.adminimal .toolbar-icon-system-admin-structure.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/orgchart.svg);
}

.adminimal .toolbar-icon-system-themes-page:active:before,
.adminimal .toolbar-icon-system-themes-page.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/paintbrush.svg);
}

.adminimal .toolbar-icon-entity-user-collection:active:before,
.adminimal .toolbar-icon-entity-user-collection.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/people.svg);
}

.adminimal .toolbar-icon-system-modules-list:active:before,
.adminimal .toolbar-icon-system-modules-list.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/puzzlepiece.svg);
}

.adminimal .toolbar-icon-system-admin-config:active:before,
.adminimal .toolbar-icon-system-admin-config.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/wrench.svg);
}

.adminimal .toolbar-icon-system-admin-reports:active:before,
.adminimal .toolbar-icon-system-admin-reports.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/barchart.svg);
}

.adminimal .toolbar-icon-help-main:active:before,
.adminimal .toolbar-icon-help-main.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/questionmark-disc.svg);
}
/* Main menu icons end. */

.adminimal.path-batch .layout-container {
    padding-top: 1.3rem;
}

.toolbar .toolbar-menu .toolbar-menu a {
  color: #fff;
  text-decoration: none;
}
.toolbar-menu-administration .toolbar-menu > .menu-item {
  background-color: #14bcb8; /*vert*/
}
.toolbar-menu-administration > .toolbar-menu > .menu-item {
  background-color: #f5f5f2; /*gris*/
}
.toolbar-menu-administration .toolbar-menu > .menu-item--expanded .menu-item--expanded .menu-item {
  background-color: #003765; /*bleu*/
}
.toolbar-menu-administration .toolbar-menu > .menu-item--expanded .menu-item--expanded .menu-item--expanded .menu-item {
  background-color: #0078bf; /*bleu*/
}
#toolbar-item-administration-tray.toolbar-tray.toolbar-tray-horizontal .toolbar-lining, #toolbar-item-shortcuts-tray.toolbar-tray.toolbar-tray-horizontal .toolbar-lining, #toolbar-item-user-tray.toolbar-tray.toolbar-tray-horizontal .toolbar-lining {
  background-color: #f36f32; /*orange*/
}
#toolbar-administration.toolbar.toolbar-oriented #toolbar-bar.toolbar-bar .toolbar-tab #toolbar-item-shortcuts-tray.toolbar-tray .toolbar-lining .toolbar-menu >._ {
  background-color: #f5f5f2; /*gris*/
}
#toolbar-administration.toolbar.toolbar-oriented #toolbar-bar.toolbar-bar .toolbar-tab #toolbar-item-user-tray.toolbar-tray.toolbar-tray-horizontal .toolbar-lining .toolbar-menu .account {
  background-color: #f5f5f2; /*gris*/
}
